html {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6%;
    background-attachment: fixed;
}

.wrapper > h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding-top: 13%;
    font-size: 250%;
}

/* NavBar */
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    background-color: transparent;
}

li {
    display: inline-block;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5f5f5f;
    transition: 0.5s;
}

.about {
    height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: dimgrey;
    display: block;
    margin-top: -5%;
}

#about > h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 2%;
}

#about > p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1;
    padding-top: 5%;

}

.about > img {
    border-radius: 50%;
    padding: 3%;
    margin-top: 1%;
}

.education {
    height: 59%;
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    display: block;
    margin-top: -5%;
}

#education > h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 2%;
}

#education > p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1;
    padding-top: 2%;
}

.images {
    height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: dimgrey;
    display: block;
    margin-top: -5%;
}

#images > h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 2%;
}

/* image Gallery */
.container2 {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    margin: 0 auto;
    padding-bottom: -5%;
}

#item1 {
    width: 20%;
    height: 30%;
    background-image: url("img/foto8.png");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

#item2 {
    width: 20%;
    height: 30%;
    background: url("img/foto9.png");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

#item3 {
    width: 20%;
    height: 30%;
    background: url("img/foto10.png");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

#item4 {
    width: 20%;
    height: 30%;
    background: url("img/foto11.png");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

#item5 {
    width: 20%;
    height: 30%;
    background: url("img/foto12.jpg");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

#item6 {
    width: 20%;
    height: 30%;
    background: url("img/foto3.jpg");
    background-size: 100%;
    text-indent: -9999px;
    border: 1px solid black;
    margin: 50px;
    order: 2;
    background-position: center;
}

.contact {
    height: 52%;
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    display: block;
    margin-top: -5%;
}

#contact > h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 2%;
}

/* Contact form */
input[type=text], [type=email], select, textarea {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    padding: 0.6%;
    border: 1px solid #ccc;
    border-radius: 1%;
    box-sizing: border-box;
    margin-top: 0.3%;
    margin-bottom: 0.1%;
    resize: vertical;
    position: center;
}

input[type=submit] {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    background-color: #5f5f5f;
    color: white;
    padding: 0.8% 2%;
    border: none;
    border-radius: 1%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #5f5f5f;
}

.container {
    border-radius: 2%;
    background-color: lightgrey;
    padding-top: 0.1%;
    padding-bottom: 1%;
}

.footer {
    height: 20%;
    background-color: #333333;
    display: block;
    margin-top: -1%;
}

footer > p {
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 3%;
}

/* Social media buttons */
.fa {
    padding: 0.7%;
    font-size: 3%;
    width: 1%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    background-color: #5f5f5f;
    opacity: 1;
    transition: 0.4s;
}

.fa-facebook {
    background: #262626;
    color: white;
    margin-top: 1%;
    margin-left: 52.5%;
}

.fa-twitter {
    background: #262626;
    color: white;
    margin-top: 1%;
    margin-left: -5%;
}

.fa-github {
    background-color: #262626;
    color: white;
    margin-top: 1%;
    margin-left: -5%
}

.fa-google {
    background-color: #262626;
    color: white;
    margin-top: 1%;
    margin-left: -5%;
}

#projecten {
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 2.3%;
    color: white;
    margin-left: 15%;

}

#projecten td, #projecten th {
    border: 1px solid black;
    padding: 0.5%;
}

#projecten tr:nth-child(even){background-color: transparent;}

#projecten tr:hover {background-color: lightgray}

#projecten th {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    background-color: dimgray;
    color: white;
}

.background {
    height: 84%;
    margin: 0 auto;
    background-image: url('img/foto3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 6%;
}















